Dotnet_Service/Internet_Services_PG/bin/
Dotnet_Service/Internet_Services_PG/obj/
Dotnet_Service/Internet_Services_PG/packages/
Dotnet_Service/Internet_Services_PG/riderModule.iml
Dotnet_Service/Internet_Services_PG/_ReSharper.Caches/
Dotnet_Service/.vs/
Dotnet_Service/.idea/*